
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid headerBarColor">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img width="125px" alt="Brand" src="images/brandLogo.png">
            </a>
        </div>
        <div class="navbar-text navbar-right">
            <ul class="ulLinks">
            <li class="liLinks"><a href="#" class="navbar-linkColor">SIGN IN</a></li>
                <li class="liLinks"><a href="#" class="navbar-linkColor">CREATE AN ACCOUNT</a></li>
                </ul>
        </div>
    </div>
</nav>
<div class="">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div data-target="#myCarousel" data-slide-to="0" class="active"></div>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../images/background.jpg" alt="back">
            </div>
            <div class="container">
                <div class="carousel-caption">
                    <h1>WELCOME TO STACKYNOTES!</h1>
                    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget.</p>
                    <a class="btn btn-large btn-primary" href="#">GET STARTED!</a>
                </div>
            </div>
        </div>
    </div>

</div>
