.landingPage {
  padding: 75px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.homePage {

}

.customPadding{
  padding-top: 60px;
}

#customBtn1{
  background-color: white;
  border-radius: 0px;
  /* height: 40px; */
  font-size: 13px;
  /* width: 35%; */
  font-weight: bold;
  margin-top: 15px;
  color: #333333;
}

.landingView{
  background-color: lightgray;
}


.headerBarColor{
  background-color: #333333 !important;
}

.ulLinks{
  list-style:none;
  margin:0;
  padding:0;
  float: right;
}

.liLinks{
  float:left;
  display:block;
  margin:0;
  padding:0 10px;
  border-left:#ccc solid 1px;
}

.liLinks:first-child {border-left:0}

.navbar-linkColor{
  color: white;
  font-size: 13px !important;
}

a.navbar-linkColor:hover, a.navbar-linkColor:active {
  color: gray;
}

#customDisplay{
  display: flex;
}

#customHeader{
  height: 4px;
}

#customcarouselBottom{
  bottom: 125px;
}

.navbar{
  min-height:50px;
}

.footerText{
  float: right;
  padding-top: 10px;
  font-size: smaller;
  color: gray;
}

.footerColor{
  background-color: gainsboro;
}

.footerHeight{
  height: 35px;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:40px;   /* Height of the footer */
  background:lightgray;
  left: 0;
}

.signUpInputTextbox{
  margin: 0 auto !important;
  float: none !important;
}

.signUpHeading{
  text-align: center;
  padding-bottom: 10px;
}

#customSignUpBtn{
  background-color: #333333;
  border-radius: 0px;
  /* height: 40px; */
  font-size: 14px;
   width: 130px;
  margin-top: 15px;
  color: white;
}

#customSignInBtn{
  background-color: #333333;
  border-radius: 0px;
  /* height: 40px; */
  font-size: 14px;
  width: 130px;
  margin-top: 15px;
  color: white;
}

.signInAlerts{
  width: 50% !important;
  text-align: center !important;
}

.signUpPara{
  text-align: center;
  clear: both;
}

#menuBtn{
  display: flex;
  padding-top: 25px;
  color: black;
  font-weight: bold;
  padding-left: 20px;
}

#wrapper.homeMain{
  background-color: #344860;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#sidebar-wrapper.background{
  background-color: white;
}

.menuAnchor{
  color: black!important;
}

#page-content-wrapper.textColor{
  color: white;
}

.customPosition {
  top: 2px;
  right: 5px;
  position: relative;
}

.treeDesign{
  border: 0 !important;
  background-color: white !important;
  height: 27px !important;
  padding-top: 2px !important;
   padding-bottom: 0px;
  margin-bottom: -11px !important;
}

.editableTextBox{
  width: 115px !important;
  height: 25px !important;
  box-shadow: none !important;
  border: 0 !important;
}

.borderLess{
  border-bottom: none !important;
}